<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="computing.mobile.lanterninthedark"
    android:installLocation="auto">



    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name="computing.mobile.lanterninthedark.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="computing.mobile.lanterninthedark.HostActivity"
            android:label="@string/title_activity_host"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="computing.mobile.lanterninthedark.ClientActivity"
            android:label="@string/title_activity_client"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="computing.mobile.lanterninthedark.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
